/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --global-color-front: #0F3557;
    --global-color-back: #eef3f7;

    --color-back: var(--global-color-back);
    --color-front: var(--global-color-front);

    /* opacity */

    /* transitions */
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-back);
    color: var(--color-front);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: var(--color-front);
    color: white;
    text-shadow: none;
}

::selection {
    background: var(--color-front);
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 2.25rem;
    line-height: 3rem;
    margin: 0 0 1.5rem;
}

h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0 0 1.5rem;
}

h3 {
    font-size: 1.625rem;
    line-height: 2rem;
    margin: 0 0 1.5rem;
}

h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin: 0 0 1.5rem;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 1.5rem;
}

ul,
ol {
    padding-left: 1.5rem;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 1.4375rem;
    line-height: 2rem;
    margin: 0 0 1.5rem;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 0.5rem;
}

hr {
    border: 0;
    height: 0.0625rem;
    background: LightGrey;
    margin: 0 0 1.5rem;
}

a {
    color: red;
    outline-color: red;
    outline-width: medium;
    outline-offset: 0.125rem;
}

a:visited,
a:active {
    color: red;
}

a:hover,
a:focus {
    color: red;
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: gray;
}

.navigatie {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.navigatie-spacing {
    margin-top: 1.875rem;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    border: 3px solid #f1f1f1;
    z-index: 9;
    height: 96%;
    width: 100%;
    overflow-y: auto;
}

.form-popup-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
    grid-column: 1;
}

.form-popup-header__title{
    font-size: 1.5rem;
    font-weight: 700;
    left: 25%;
    padding: 0;
}

/* Add styles to the form container */
.form-container {
    width: 100%;
    padding: 10px;
    background-color: var(--global-color-back);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4.6875rem auto 1fr auto;
    row-gap: 1.25rem;
}

.form-container h1{
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.form-container img{
    grid-column: 1;
    grid-row: 2;
    width: 90%;
    height: 90%;
    object-fit: cover;
    margin: 0 auto;
}

/* Full-width input fields */
.form-container p {
    width: 100%;
    padding: 15px;
}

.form-container-data__name{
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    margin-left: .9375rem;
}

.form-container-data div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-container-data{
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-direction: column;
}

.form-container-data__svg-title{
    grid-column: 1;
    grid-row: 4;
}

.form-container-data__svg-map{
    grid-column: 1;
    grid-row: 5;
}

/* Add style to the data visulation*/
.form-container-dataVisMin{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
    position: relative;
    margin-bottom: -0.9375rem;
}

.form-container-dataVisMax{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: auto;
    position: relative;
    margin-bottom: -0.9375rem;
}

.form-container-dataVisMap{
    width: 100%;
    height: 100%;
}

.form-container-dataVisBack{
    width: 100%;
    height: 1.5rem;
    background-color: white;
    margin-bottom: .625rem;
}

.form-container-dataVisLengthFor{
    width: 50%;
    height: 1.5rem;
    background-color: lightgray;
}

.form-container-dataVisWeightFor{
    width: 50%;
    height: 1.5rem;
    background-color: lightgray;
}

.form-container-underline{
    border-bottom: solid 2px lightgray;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.popup {
    justify-content: center;
    background-color: #ffffff;
    width: 28.125rem;
    padding: 1.875rem 2.5rem;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: .5rem;
    font-family: "Poppins", sans-serif;
    display: none;
    text-align: center;
}

.popup-choise button:focus{
    border: #e90faf;
}

.popup-loading{
    display: none;
}

.popup-loading-centerd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-loading__image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
}

.popup-loading__image-background{
    height: 50px;
    animation: progres 7s infinite linear;
}

@keyframes progres {
    0% {
        height: 0%;
    }

    25% {
        height: 50%;
    }

    50% {
        height: 75%;
    }

    75% {
        height: 85%;
    }

    100% {
        height: 100%;
    }
}

.popup button {
    position: relative;
    margin: 0 0 1.25rem auto;
    background-color: transparent;
    font-size: 1.5rem;
    color: var(--global-color-front);
    border: none;
    outline: none;
    cursor: pointer;
}

.popup-select{
    width: auto;
}

@media (min-width: 360px) {
    .popup{
        width: 18.75rem;
        padding: 1.875rem 1.875rem;
    }

    .popup button {
        font-size: 1.2rem;
    }
}

@media (min-width: 500px) {
    .popup {
        width: 28.125rem;
        padding: 1.875rem 2.5rem;
    }

    .popup button {
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px) {
    .form-popup {
        left: 12.5%;
        bottom: 8.5%;
        margin: auto;
        height: 85%;
        width: 75%;
    }

    .form-popup-header{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .form-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 4.6875rem 1fr 1fr;
        row-gap: .625rem;
    }

    .form-container-data{
        grid-column: 2;
        grid-row: 2;
        display: flex;
        flex-direction: column;
    }

    .form-container-data__svg{
        grid-column: 1;
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Grid
    ---
    Default markup for grid elements
*/

.o-grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1.5625rem;
    gap: 0.625rem;
    height: 20%;
}

.o-grid-container-animals {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: 0.625rem;
    height: 80%;

}

.o-grid-item-header{
    grid-column: 1;
}

.o-grid-item-title{
    grid-column-start: 1;
    grid-column-end: 4;
}

@media (min-width: 360px) {
    .o-grid-container-animals {
        grid-template-columns: repeat(1, minmax(12.5rem, 1fr));
        row-gap: 1.5625rem;
    }
}

@media (min-width: 560px) {
    .o-grid-container-animals {
        grid-template-columns: repeat(2, minmax(12.5rem, 1fr));
        row-gap: 3.125rem;
    }
}

@media (min-width: 1200px) {
    .o-grid-container-animals {
        grid-template-columns: repeat(4, minmax(12.5rem, 1fr));
        row-gap: 3.125rem;
    }
}


/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    padding: 0;
    margin: -0.0625rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 90em;
    /* 90 * 16px = 1440px */
}

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    padding: 1.5rem 1.5rem 0;
    display: flow-root;
}

/* size modifiers */

.o-row--md {
    padding-top: 1.5rem;
    padding-bottom: 0.75rem;
}

.o-row--lg {
    padding-top: 3rem;
    padding-bottom: 1.5rem;;
}

.o-row--xl {
    padding-top: 4.5rem;
    padding-bottom: 3rem;
}

@media (min-width: 768px) {
    .o-row {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .o-row--md {
        padding-top: 3rem;
        padding-bottom: 1.5rem;;
    }

    .o-row--lg {
        padding-top: 4.5rem;
        padding-bottom: 3rem;
    }
}

@media (min-width: 992px) {
    .o-row--xl {
        padding-top: 6rem;
        padding-bottom: 4.5rem;
    }
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
  display: flex;
  gap: 2rem;
}

.o-layout__item {
    flex-basis: 100%;
}

.o-layout__item-three{
  max-width: 100%;
}

.o-layout-two-lines{
  display: flex;
  gap: 2rem;
}

@media(max-width: 766px){
  .o-layout-two-lines {
    display: flex;
    flex-wrap: wrap;
  }
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
  margin: 0 -0.75rem;
}

.o-layout--gutter>.o-layout__item {
  padding: 0 0.75rem;
}

.o-layout--gutter-sm {
  margin: 0 -0.375rem;
}

.o-layout--gutter-sm>.o-layout__item {
  padding: 0 0.375rem;
}

.o-layout--gutter-lg {
  margin: 0 -1.5rem;
}

.o-layout--gutter-lg>.o-layout__item {
  padding: 0 1.5rem;
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
  flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
  justify-content: flex-start;
}

.o-layout--justify-end {
  justify-content: flex-end;
}

.o-layout--justify-center {
  justify-content: center;
}

.o-layout--justify-space-around {
  justify-content: space-around;
}

.o-layout--justify-space-evenly {
  justify-content: space-evenly;
}

.o-layout--justify-space-between {
  justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
  align-items: flex-start;
}

.o-layout--align-end {
  align-items: flex-end;
}

.o-layout--align-center {
  align-items: center;
}

.o-layout--align-baseline {
  align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
  align-content: start;
}

.o-layout--align-content-end {
  align-content: end;
}

.o-layout--align-content-center {
  align-content: center;
}

.o-layout--align-content-space-around {
  align-content: space-around;
}

.o-layout--align-content-space-between {
  align-content: space-between;
}

/*
    Objects: Box
    ---
    Creates a box with a background color and padding
*/

.o-box{
    margin: auto;
    text-align: center;
    background: white;
    padding: .0625rem;
    color: var(--global-color-front);
    box-shadow: 8px 8px gray;
}

.o-box-link {
    text-decoration: none;
}

.o-inner-box {
    background: white;    
    margin: auto;
    box-shadow: 8px 8px gray;
}

.o-inner-box-title {
    font-size: 1.25rem;
    margin-top: 0.1875rem;
    margin-bottom: 0.1875rem;
}

.o-inner-box-text {
    font-size: 1.125rem;
    margin-top: 0.1875rem;
}

.o-inner-box-mdtext {
    font-size: 1.25rem;
    line-height: 1.625rem;
    color: var(--global-color-front);
    font-style: medium;

}

.o-inner-box-normaltext {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: var(--global-color-front);
    margin-top: 0rem;
    margin-bottom: 0.25rem;
}

.o-inner-box img{
    width: 18.75rem;
    height: 18.75rem;
    object-fit: cover;
    object-position: top;
}

@media (min-width: 360px) {
    .o-box {
        width: 18.75rem;
    }

    .o-inner-box {
        width: 18.75rem;
    }

    .o-inner-box-image {
        width: 18.75rem;
        height: 18.75rem;
    }
}

@media (min-width: 1024px) {
    .o-box {
        width: 18.75rem;
    }

    .o-inner-box {
        width: 18.75rem;
    }
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: header
    ---
    Main header of the website
*/

.c-header {
    display: flex;
    gap: .5rem;
    height: 2rem;
}

.c-header h2{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: auto;
    margin-top: auto;
}

.c-header__Logo {
    display: flex;
    align-items: center;
    font-size: 0.5rem;
    line-height: 1rem;
    font-weight: 400;
    gap: 0.5rem;
    height: 2rem;
    width: 2rem;
    margin-bottom: auto;
}

.c-header__text{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: 0;
}


/*
    Component: Lead
    ---
    Lead type treatments to style everything that differs from standard typography elements
*/

.c-lead {
    position: relative;
}

.c-lead--md {
    font-size: 1rem;
    line-height: 1.5rem;
}

.c-lead--lg {
    font-size: 1.25rem;
    line-height: 2rem;
}

@media (min-width: 360px) {
    .c-lead--xl {
        font-size: 2.25rem;
        line-height: 2.875rem;
        margin-bottom: 0.625rem;
        font-weight: bold;
    }
}

@media (min-width: 526px) {
    .c-lead--xl {
        font-size: 2.4375rem;
        line-height: 2.875rem;
        margin-bottom: 0.625rem;
        font-weight: bold;
    }
}

@media (min-width: 762px) {
    .c-lead--xl {
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: bold;
    }
}

@media (min-width: 1024px) {
    .c-lead--xl {
        font-size: 4.125rem;
        line-height: 4.5rem;
        font-weight: bold;
    }
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: Mute
    Mute with opacity
*/

.u-muted {
    opacity: 0.6;
}

/*
    Utilities: Title
    ---
    Title with settings
*/

@media (min-width: 360px) {
    .u-title {
        margin-top: 10%;
    }


}

@media (min-width: 762px) {
    .u-title {
        margin-top: 5%;
        margin-bottom: 0%;
    }

}

@media (min-width: 1200px) {
    .u-title {
        margin-top: 4%;
    }
}

/*------------------------------------*\
#STATES
\*------------------------------------*/

/*
    Change the theme using CSS vars.
*/

/* Night version: just switch the light and dark vars */

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
